<tr class="list-item">
  <td style="width: 75px">
    {{ page.media[page.header.image.list].resize(75, 75).html() }}
  </td>

  <td>
    <b><a href="{{ page.url }}">{{ page.title }}</a></b>
  </td>

  <td>
    {% set packs = page.find(page.url ~ '/packs').children %}
    {% for pack in packs %}
      <a href="{{ pack.url }}">{{ pack.title }}</a>{% if loop.index < packs|length %} | {% endif %}
    {% endfor %}
  </td>

  <td>
    {% include 'partials/affiliations.html.twig' with {'page':child} %}
  </td>
</tr>
